<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="ida:ClientId" value="77d67033-a153-4eb5-9195-1e07ce9e4589" />
    <add key="ida:Audience" value="https://tektaniuminc.onmicrosoft.com/LocationSvcClientWeb" />
    <add key="ida:aadInstance" value="https://login.microsoftonline.com/{0}" />
    <add key="ida:appKey" value="moM3LcOyk3tZRmtymTuICwm97clzn6Pjf4te5XowU2Q=" />
    <add key="ida:tenant" value="tektaniuminc.onmicrosoft.com" />
    <add key="ida:postLogoutRedirectUri" value="https://localhost:44301/" />
    <add key="ida:serviceResourceID" value=" https://tektaniuminc.onmicrosoft.com/LocationSvcTest" />
  </appSettings>
</configuration>